* {
	box-sizing: border-box;
}

html {
	background-color: white;
}

body {
	background: linear-gradient(lightgray, gray);
	width: 90%;
	min-width: 900px;
	border: solid;
	margin: 0 auto;
}

header {
	height: 100px;
	background-image: url("../img/background_header_02.jpg");
	border: 1px solid;
	border-bottom: solid;
}

h1 {
	font-size: 40px;
}

h1, h2, h3 {
	text-align: center;
}

nav {
	float: left;
	width: 160px;
	margin-left: -30px;
	display: inline-block;
}

li {

	text-align: center;
	font-family: Arial;
	background: white;
	padding: 10px 5px;
	list-style-type: none;
	border: 1px solid;
}

ul>li>a {
	color: black;
	padding: 10px;
	text-decoration: none;
}

img {
	width: 80%;
	height: 80%;
	border: solid;
}


#index {
	margin-left: 10px;
	width: 55%;
	display: inline-block;
	border: red solid 1px;
}

aside {
	background: white;
	margin-right: 10px;
	float:right;
	border: solid 1px green;
	width: 27%;
}

form {
	text-align: center;
}

table {
	margin: 0 auto;
	width: 95%;
	border: blue 1px dashed;
}

table img {
	width: 200px;
	height: 150px;
}

#logo {
	margin-left: 40px;
}

.main {
	margin: 5px;
	display: inline-block;
	border: solid 1px blue;
	width: 43%;
}

.varList {
	display: inline;
}

#left {
	float: left;
}

#right {
	float: right;
}

footer {
	clear: both;
}